@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@keyframes headerBcg {
  from {
    background-size: 100%;
  }

  to {
    background-size: 110%;
  }
}

.headerBcg {
  animation: headerBcg infinite 30s linear;
}

@keyframes headerBcgTablet {
  from {
    background-size: 120%;
  }

  to {
    background-size: 130%;
  }
}